body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #0b8d93;
    color: #ffffff;
    text-align: center;
    padding: 30px ;
}

.reservation-form {
    width: 60%;
    margin: 0 auto;
    background-color: #f9f9f9;
    padding: 50px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.reservation-form h2 {
    margin-bottom: 20px;
}

label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;

}

input[type="text"],
input[type="email"],
input[type="date"],
select {
    width: 100%;
    padding: 18px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button.submit-btn {
    padding: 15px 20px;
    background-color: #0b8d93;

    color: #ffffff;
    border: none;
    border-radius: 15px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    font-weight: bold;
}

button.submit-btn:hover {
    background-color: #0b8d93;
}

footer {
    background-color: #333333;
    color: #ffffff;
    text-align: center;
    padding: 20px 0;
}
