body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color:#0b8d93; 
    color: #fff;
    padding: 20px;
    text-align: center;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
}

main {
    padding: 20px;
}

.tour-packages {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.package {
    margin: 20px;
    padding: 20px;
    border: 1px solid #ccc;
    width: 300px;
    text-align: center;
}

.package img {
    width: 100%;
    height: auto;
}

.book-btn {
    background-color: #0b8d93;
    color: #fff;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s;
}

.book-btn:hover {
    background-color: black;
}
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    text-align: center;
}
.hero {
    background-color: #0b8d93;
    padding: 80px 20px;
    text-align: center;
    color: #fff;
}


.header {
    background-color: #ffffff;
    padding: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    width: 180px;
    height: auto;
}

.navbar ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
}

.navbar li {
    margin-right: 20px;
}

.navbar li:last-child {
    margin-right: 0;
}

.navbar a {
    text-decoration: none;
    color: #333333;
    transition: color 0.3s ease;
}

.navbar a:hover {
    color: #007bff;
}

.hero {
    background-color: #0b8d93;
    padding: 80px 20px;
    text-align: center;
    color: #fff;
}

.tour-list {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.tour {
    max-width: 300px;
    margin: 20px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    text-align: center;
}

.tour img {
    width: 100%;
    height: auto;
    border-radius: 5px;
}

.tour h2 {
    margin-top: 20px;
    margin-bottom: 10px;
    font-size: 24px;
}

.tour p {
    color: #666666;
}

.btn {
    display: inline-block;
    padding: 10px 20px;
    background-color: #0b8d93;
    color: #fff;
    text-decoration: none;
    border: none;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.btn:hover {
    background-color: #007e87;
}

footer {
    background-color: #333333;
    color: #ffffff;
    text-align: center;
    padding: 20px 0;
}

